<h1>
  <div class="prefix">
    configurations
  </div>
  <span class="heading">
    List
  </span>
  <%=
    link_to 'create', new_config_path, class: 'button'
  %>
</h1>

<div class='configs-list'>
<%=
  grid(@configs_grid) do |g|

    g.column name: 'Name', attribute: 'name', class: 'column-config-name' do |config|
      link_to(config.name, config)
    end

    g.column name: 'Description', attribute: 'description', class: 'column-config-description' do |config|
      link_to(strip_tags(config.description), config)
    end

    g.column name: 'Updated at', attribute: 'updated_at', class: 'column-date' do |config|
      config.updated_at
    end

    g.column name: 'Creator', attribute: 'email', assoc: :user, class: 'column-config-user' do |config|
      [user(config.user), {style: 'text-align:center; white-space:nowrap; overflow:hidden; text-overflow:ellipsis'}]
    end

  end
-%>
</div>
