body {
	margin: 0;
	padding: 0;
	font: 300 14px Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #120;
}

#canvas {
	margin: 0 auto;
	max-width: 1000px;
	border: 2px solid #8d7;
	border-radius: 5px;

	background-color: #fafffa
}

.frame {
	border: 1px solid #af9;
	padding: 10px;
	background-color: #af9;
	color: #333;

	a {
		color: #350;
	}

	a:hover {
		color: #572;
	}

	.floating-br {
		position: absolute;
		bottom: 0;
		right: 0;
		font-size:small;
	}
}


#header {
	position: relative;
	border-radius: 5px 5px 0 0;

	.title {
		margin: 10px 0;
		font-size: 18pt;
		font-weight: 900;
	}

	#account{
		display: inline-block;
		position: absolute;
		right: 0;
		text-align:right;
		padding: 5px;
		a {
			color: #55d;

			&:hover {
				color: #00f;
			}
		}
	}
}

#footer {
	margin: 10px 0 0 0;
	border-radius: 0 0 5px 5px;
	font-style: italic;
}

.menu {
	ul {
		display: inline;
		padding: 0;
		margin: 0;
	}
	li {
		display: inline;
		margin-left: 0.5em;
	}
	a {
		border-radius: 3px;
	}
}

.pagination {
	padding: 0;

	li {
		display: inline-block;
		margin: 0 2px;
		width: 20px;
		border: 1px solid #ad8;
		text-align: center;
	}
}

.notice, .alert {
	padding: 2px;
	font-style: italic;
}

.notice {
	background-color: #eef;
	color: #00f;
}

.alert {
	background-color: #fee;
	color: #f00;
}

.content {
	margin: 0;
	padding: 8px;
}

#footer_navigation {
	list-style: none;
	margin-top:20px;
	text-align: center;
	li {
		display: inline;
		border-right: 1px solid #001854;
		padding: 0.2em 15px;
	}
	li:last-child{
		border: none;
	}
}

div.note {
	margin: 5px;
	font-style:italic;
	color:#555555;
}

p.note {
	font-style:italic;
}

span.note {
	font-size:small;
	font-style:italic;
}

a {
	text-decoration:none;
	color: #007;
}

a:hover {
	color: #55aa44;
}

section {
	padding: 10px;
}

h1 {
	display:inline-block;
	margin: 0.5em 0;
	border: 1px solid #452;
	border-width: 0 0 0 15px;
	padding: 0 0 0 2px;
	font-size: 1.4em;

	.prefix {
		margin: 0;
		padding: 2px 4px;
		background-color: #452;
		color: #fff;
		font-size: 0.5em;
		font-style: italic;
	}

	.heading {
		margin: 0 20px 0 4px;
	}

	.badge {
		font-size: 0.8em;
	}

	.tag {
		position: relative;
		top: -5px;
		font-size: 0.7em;
	}
}

h2 {
	display:inline-block;
	margin: 1.5em 0 0.6em 0;
	border: 1px solid #231;
	border-width: 6px 0 0 6px;
	border-top-left-radius: 6px;
	padding: 4px;
	font-size: 1.2em;
/*  border-style: solid;
	border-color: #eed;
	border-width: 0 0 1px 0;
*/

	.heading {
		margin: 0 20px 0 4px;
	}
}

h3 {
	margin: 1.2em 0 0.8em 0;
	font-size: 1em;
}

table {
	margin: 5px 0;
	border-collapse: collapse;
	border: 1px solid #9ab;
}

table.wide {
	table-layout:fixed;
	width: 100%;
}


table.virtical.wide {
	th {
		width:8em;
	}
}

th, td {
	padding: 4px;
}

tbody {
	th, td {
		border: 1px solid #9ab;
	}
}

th {
	text-align: center;
	background-color: #dfd;
}

td {
	text-align: left;
	input[type=text],select,textarea {
		box-sizing: border-box;
		width: 100%;
	}
	textarea {
		height: 200px;
	}
}

pre {
	font: 300 12px Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.button {
		box-shadow:outset 0px 0px 2px 2px #000000;
		background-color:#f2f2f2;
		border-radius:6px;
		border:1px solid #bcbcbc;
		display:inline-block;
		color:#333388;
		font-family:arial;
		font-size: small;
		padding:2px 12px;
		text-decoration:none;

		text-shadow:0px 1px 0px #ffffff;
		cursor: pointer;
}

.button:hover {
		background-color:#fafafa;
		color:#111144;
}
.button:active {
		position:relative;
		top:1px;
}

.button_disabled {
		box-shadow:inset 0px 1px 0px 0px #ffffff;
		background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);

		background-color:#ffffff;
		border-radius:6px;

		border:1px solid #dcdcdc;

		display:inline-block;
		color:#cccccc;
		font-family:arial;
		font-size: smaller;
		padding:2px 12px;
		text-decoration:none;

		text-shadow:0px 1px 0px #ffffff;
		cursor: pointer;
}

.button a {
		color:#333388;
		text-decoration: none;
}
